@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: auto;
  box-sizing: border-box;
}

.welcome_page_cover {
  background: url("./assets/covers/Banner.svg") no-repeat;
  height: 100%;
  width: 100%;
}

.landing_large_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fce0a1;
  width: 50%;
  border-radius: 0.8%;
  opacity: 80%;
  margin-top: 10%;
  padding: 5px;
  z-index: 0;
}

.landing_large_card :after {
  content: "";
  opacity: 80%;
}

.client_card {
  background-color: white;
  opacity: 100%;
  padding: 5%;
  padding-bottom: 2%;
  display: flex;
  width: 40%;
  flex-direction: column;
  border-radius: 3%;
  position: relative;
  z-index: 1;
  margin: 5%;
}
.client_card_selected {
  background-color: white;
  border: #8d611f 2px solid;
  opacity: 100%;
  padding: 5%;
  padding-bottom: 2%;
  display: flex;
  width: 40%;
  flex-direction: column;
  border-radius: 3%;
  position: relative;
  z-index: 1;
  margin: 5%;
}

/*modal address code*/
.address_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1000;
}

.confirmation_sidebar_wrapper {
  width: 40%;
  height: 80%;
  background: #fff5ee;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background: #fff5ee;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close_btn_container {
  display: flex;
}

.close-btn {
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5rem;
}

.close-btn:disabled {
  color: #989795;
}
.close-btn:hover,
.close-btn:active {
  color: #2a160c;
}

.address_label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0.5rem;
  /* identical to box height, or 28px */
  letter-spacing: 0.02em;
  color: #101010;
  text-align: left !important;
}

.confirmation-modal-promo-code-input {
  border-radius: 20px;
  border: #99592a 1px solid;
  padding: 10px;
  display: flex;
  width: 65%;
  margin-right: 20px;
}
.confirmation-modal-promo-button {
  background-color: #99592a;
  border-radius: 20px;
  display: flex;
  width: 20%;
  justify-content: center;
  padding: 5px;
}

.confirmation-modal-next-button {
  margin-top: 45px;
  background-color: #99592a;
  border-radius: 20px;
  display: flex;
  width: 50%;
  content: center;
  padding: 10px;
  justify-content: center;
}
.mealcard-input {
  border-radius: 20px;
  border: #a5a29e 1px solid;
  padding: 10px;
  display: flex;
  width: 85%;
}

.confirmation_sider_additions {
  border-radius: 50px 50px 50px 50px;
  border-radius: 5%;
  margin-top: 2px;
  display: flex;
  width: 100%;
  border: #989795 2 solid;
  padding: 2px;
}

p.line_text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

p.line_text span {
  background: #fff5ee;
  padding: 0 10px;
}

.address-modal-button-container {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 0px;
  position: absolute;
  bottom: 5%;
  width: 350px;
}

.address-modal-back-button {
  border: #99592a 1px solid;
  color: #99592a;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
  width: 170px;
  display: flex;
  justify-content: center;
}
.address-modal-payment-button {
  border-radius: 20px;
  padding: 5px;
  background: #99592a;
  border: 1px solid #99592a;
  width: 170px;
  display: flex;
  text-align: center;
  color: white;
  justify-content: center;
}

.address-modal-input {
  border-radius: 20px;
  padding: 7px 13px;
  border: 1px solid #99592a;
  width: 100%;
  text-align: center;
  color: #101010;
}

.address-modal-payment-button:disabled {
  background: #989795;
  border: none;
}
.errorMsg {
  font-size: 13px;
  color: red;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.address-modal-input-small {
  border-radius: 20px;
  padding: 4%;
  border: 1px solid #99592a;
  margin: 2px;
  width: 100%;
}

.most-ordered-container {
  background-color: #fff5ee;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  margin-top: 5%;
  padding: 5%;
  width: 100%;
}
.personal-info-container {
  background-color: #fff5ee;
  display: flex;
  width: 100%;
  border-radius: 20px;
  flex-direction: column;
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 3%;
  flex: 1 1 auto;
  height: full;
}

.personal-info-gender-select {
  border-radius: 50%;
  border: gray 1px solid;
  display: flex;
  padding: 2%;
  margin-left: 15%;
  aspect-ratio: 1 / 1;
}

.personal-info-gender-select-selected {
  border-radius: 50%;
  border: gray 1px solid;
  display: flex;
  padding: 2%;
  margin-left: 15%;
  aspect-ratio: 1 / 1;
  background-color: #99592a;
  z-index: 0;
}

.personal-info-input {
  border-radius: 20px;
  padding: 10px;
  border: #99592a solid 1px;
}

.very-round {
  border-radius: 20px;
}
.send-to-bottom {
  margin-bottom: 0px;
  position: absolute;
  bottom: 5%;
}
.dashboard_main {
  width: 100%;
  margin: auto;
  height: 1000px;
}

.sidebar_wrapper {
  width: 10%;
  height: 100%;
  background: #fff5ee;
  border-radius: 50px 0 0 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.sidebar_logo {
  margin: 25px 0;
  width: 100%;
  height: 100px;
  display: flex;
}
.sidebar_logo_image,
.sidebar_logo_image_logout {
  margin: auto;
}
.sidebar_icons {
  height: 40%;
  display: flex;
  flex-direction: column;
}
.sidebar_logo_image_logout {
  padding-top: 100%;
  cursor: pointer;
}
.sidebar_logo_circle_active,
.sidebar_logo_circle {
  height: 50px;
  width: 50px;
  background: #99592a;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.sidebar_logo_circle {
  background: white;
}

.profile-header-container {
  background-color: #fff5ee;
  display: flex;
  width: 100%;
  border-radius: 20px;
  margin: 2%;
  padding: 4%;
  flex: 1 1 auto;
}
.profile-header-user-container {
  display: flex;
  padding-right: 3%;
  padding-left: 3%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #989795;
  justify-content: center;
  flex: 1 1 auto;
  overflow: hidden;
}

.merchant-profile-total-revenue-card {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background-color: #fff5ee;
  padding: 3%;
  display: flex;
  flex-direction: column;
  margin: 2%;
  height: 100%;
}

.merchant-profile-total-ordered-card {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background-color: #fff5ee;
  padding: 3%;
  display: flex;
  flex-direction: column;
  margin: 2%;
  height: 100%;
}

.merchant-profile-card-container {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background-color: #fff5ee;
  padding: 3%;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.merchant-profile-card-select {
  display: flex;
  width: 60%;
  border-radius: 20px;
  border: black solid 2px;
  justify-content: flex-end;
  padding: 2%;
}

.merchant-profile-most-ordered {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background-color: #fff5ee;
  padding: 3%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  height: 100%;
}
.rounded-border {
  border-radius: 20px;
}

.search-input {
  border: 1px gray solid;
  border-radius: 20px;
  display: flex;
  width: 50%;
  height: 60%;
  padding: 1%;
}
