@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard_main {
  width: 100%;
  margin: auto;
  height: 1000px;
}

.sidebar_wrapper {
  width: 10%;
  height: 100%;
  background: #FFF5EE;
  border-radius: 50px 0 0 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.sidebar_logo {
  margin: 25px 0;
  width: 100%;
  height: 100px;
  display: flex;
}
.sidebar_logo_image, .sidebar_logo_image_logout {
  margin: auto;
}
.sidebar_icons {
  height: 40%;
  display: flex;
  flex-direction: column;
}
.sidebar_logo_image_logout {
  padding-top: 100%;
  cursor: pointer;
}
.sidebar_logo_circle_active, .sidebar_logo_circle {
  height: 50px;
  width: 50px;
  background: #99592A;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.sidebar_logo_circle {
  background: white;
}